page-home {
  .btn-cat {
      width: 90%;
      border: 1px solid;
      border-radius: 7px;
      height: 75px;
      text-align: center;
      // background-color: peru;
      // background-image: linear-gradient(to bottom right, red, yellow);
  }
  .categorie-icon {
      // font-size: 3em;
      top: 5px;
      margin-top: 4px;
      position: relative;
      color: #ffffff;
  }
  .categorie-name {
    top: 5px;
    position: relative;
  }
  .title-header-categories h5 {
    text-align: center;
    font-size: x-large;
    display: block;
    background: #013063;
    color: #fff;
    width: 100%;
    padding: 5px;
    border-radius: 7px;
}
.toolbar-background-md {
  background-image: url("../assets/imgs/header-app-home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.toolbar-background-me {
  background-image: url("./assets/imgs/header-app-home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.toolbar-background-my {
  background-image: url("../assets/imgs/header-app-home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.toolbar-md {
  padding: 4px;
  min-height: 100px;
}
.toolbar-title-md {
  color: #ffffff;
}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
  color: #999;
  right: 10px;
  position: absolute;
  top: 0;
}
.button-round-md.search {
  border-radius: 0 64px 64px 0;
  padding: 0 2.6rem;
}
ion-input.fiel-search {
  border: 1px solid;
  float: right;
  position: relative;
  margin-right: -4px;
  max-height: 39px;
  top: 3px;
  border-color: blue;
  border-radius: 64px 0 0 64px;
  padding-left: 15px;
}
.searchbar-home {
  display: flex;
}
.item-md ion-thumbnail {
  min-width: 80px;
  min-height: 80px;
  background-position: center center;
  background-size: cover;
  border-radius: 7px;
}
.actions-btn {
  text-align: right !important;
  width: 100%;
}
.list-ads-content {
  width: 100%;
  padding-top: 7px;
}
.thumbs-list{
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 7px;
  width: 80px;
  height: 70px;

}

}
