<ion-header class="header-image-app">
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu" style="color:aliceblue"></ion-icon>
    </button>
    <ion-title style="color:aliceblue; text-align: center"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div>
  <div class="header-home">
  </div>
</div>

<div>
      <div>
        <form>
          <div class="searchbar-home">
            <ion-input placeholder="O que você procura?" class="fiel-search" type="text" [(ngModel)]="todo.term" name="title"></ion-input>
            <button type="submit" ion-button round (click)="search_ads()" class="search"><ion-icon slot="start" name="search"></ion-icon></button>
          </div>
        </form>
      </div>
</div>
<div class="section-list-result" *ngIf="showed_result">
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12>
                <!-- Header List Big Image -->
          <ion-list-header header-section>
            <h1 header-title text-capitalize>Resultados da busca</h1>
          </ion-list-header>
          <ion-list>
                  <ion-item *ngFor="let item of ads">
                      <ion-thumbnail item-left class="thumbs-list" [ngStyle]="{'background-image': 'url(' + item.galeria[0].img_link + ')'}">
                      </ion-thumbnail>
                      <div class="list-ads-content">
                        <h2 item-title><strong>{{item.code | slice:0:40}}<span *ngIf="item.code.length > 40">...</span></strong></h2>
                        <p item-subtitle text-wrap >{{item.descricao | slice:0:48 }}<span *ngIf="item.descricao.length > 48">...</span></p>
                        <div class="actions-btn"><button (click)="openAds(item.code)" class="clearfix-styles" ion-button round>Ver</button></div>
                      </div>
                  </ion-item>
          </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

</div>
<div class="section-categories" *ngIf="!showed_result">

    <div class="title-category">
      <ion-item style="border-top: dimgrey dashed 1px; margin-top: 7px">
        <ion-label>Top categorias:</ion-label>
      </ion-item>
      <div *ngIf="!showed_cat" style="text-align: center; margin-top:80px;font-size:larger;"><i class="fa fa-cogs" aria-hidden="true" style="font-size:30px;"></i> Carregando categorias...</div>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col col-4 *ngFor="let cat of show_part" style="text-align:center">
            <div class="btn-cat" (click)="openCategorie(cat.id)" [ngStyle]="cat.style">
                <ion-icon class="{{cat.icon.icon}} categorie-icon" [ngStyle]="cat.icon.style"></ion-icon>
            </div>
            <div style="width: 97%; text-align: center" class="categorie-name">{{cat.id_nome | slice:0:20 }}<span *ngIf="cat.id_nome.length > 20" >...</span></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <button ion-button full color="primary" (click)="showPart('categories')" [hidden]="hiddeButton">
            VER TODAS AS CATEGORIAS
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

</div>



</ion-content>
